* {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

body {
  background-color: whitesmoke;
}

.p-head {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: beige;

  /* width: 100%; */
}

.p-head > a {
  color: black;
  cursor: pointer;
}

.active {
  font-weight: 600;
}

.logo-img {
  height: auto;
}

.item2 {
  text-decoration: none;
}

.item3 {
  text-decoration: none;
}

.p-content {
  background-color: rgb(209, 117, 117);
  width: 100%;
}

.row-one {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-one {
  flex: 30%;
}

.item-wrapper {
  padding: 1rem;
}

.food-img1 {
  width: 100%;
}

.fname-likes {
  display: flex;
  justify-content: space-between;
}

.likes {
  display: flex;
  flex-direction: column;
}

.like-btn {
  border: 0;
}

.comment {
  text-align: center;
}

.footer-text {
  text-align: center;
  background-color: beige;
  margin-top: 30px;
  padding: 20px;
}
