* {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

body {
  background-color: whitesmoke;
}

.p-head {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: beige;
}

.p-head > a {
  color: black;
  cursor: pointer;
}

.active {
  font-weight: 600;
}

.logo-img {
  text-decoration: none;
}

.item2 {
  text-decoration: none;
}

.item3 {
  text-decoration: none;
}

.footer-text {
  text-align: center;
  background-color: beige;
  margin-top: 30px;
  padding: 20px;
}
